<div class="modal fade" id="edit_calendar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">編輯</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= render 'form', calendar: @calendar %>
      </div>
    </div>
  </div>
</div>
